<p>This is a unit conversion application for iPhone and iPod Touch. With its simple interface and easy to use. You
  can enter the value you want to convert , i t will show you the result of all conversions in the other boxes. This
  application supports 10 categories which you always use in your Daily Life. The categories include Time, Computer
  Storage (Bits&Bytes), Cooking (Kitchen Units), Area, Distance & Length, Temperature, Power, Circular Measure, Volume
  and Weight. It rounds the result to 15 significant digits, therefore producing superior results for very big or very
  small initial values and conversion factors.</p>
